.container{
  width: 100%;
  border: 2px hidden red;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  padding: 0 0 30px;
  background-image: url('/assets/home/background-home-mobile.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.homeContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  justify-content: center;
}

.section{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin:0 auto;
  border: 2px hidden white;
}

.headerTexts{
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.paragraphOne, .paragraphTwo{
  color: rgba(255,255,255,0.7);
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
}

.paragraphOne{
  margin:0 0 20px;
}

.paragraphOne span{
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 32px;
  text-transform: uppercase;
  color: white
}

.paragraphTwo{
  margin-bottom: 20px;
}

.exploreContainer{
  width: 100%;
}

.explore{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 30px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px hidden blue;
  background-color: white;
}

.explore h1{
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-family: 'Sorts Mill Goudy', serif;
  text-transform: uppercase;
}

@media(min-width: 778px){

  .container{
    background-image: url('/assets/home/background-home-tablet.jpg');
  }

  .section{
    margin-top: 50px;
  }

}

@media(min-width: 992px){

    .container {
      background-image: url('/assets/home/background-home-desktop.jpg')
    }

  .homeContent {

    min-height: 80vh;

  }

  .section{
    flex-direction: row;
    align-items: flex-end;
    margin-top: 30px;
  }

  .headerTexts{
    text-align: left;
    width: 70%;
    height: 100%;
    border: 2px hidden green;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 0 0;

  }

  .exploreContainer{
    width: 100%;
    border: 2px hidden blue;
  }

  .explore {
    margin: 30px auto 0px;
  }

    .paragraphTwo {
      margin-bottom: 0px;
      font-size: 18px;
    }

  .paragraphOne {
    font-size: 24px;
    margin: 0 0 5px;
  }

  .paragraphOne span {
    font-size: 40px;
    letter-spacing: 5px;  
  }
}